.my-form{
    width: 500px;
}

.main-page{
    margin-top: 60px;
}

.header-image{
  background-image: url(/assets/top1.jpg);
  height:700px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header-content{
    font-size: 75px;
    padding-top: 200px;
}